## Lib

In [42]:
import pandas as pd
pd.set_option('display.max_columns', None)

from pprint import pprint

## Vars

In [43]:
# File URL
csv_url="../../storage/datas/csv/clean/cleaned_dataset_with_features.csv"

# Load CSV as DF
df = pd.read_csv(csv_url, low_memory=False)

## 1 - Choose labels to keep

In [44]:
print(f"Initial df shape: {df.shape}")

Initial df shape: (365013, 15)

In [45]:
df.head()

,image_lien,label,family,phylum,species,canonicalName,class,genus,order,width,high,red mean,green mean,blue mean,color mean
0,1.jpg,Xylaria polymorpha,Xylariaceae,Ascomycota,Xylaria polymorpha,Xylaria polymorpha,Sordariomycetes,Xylaria,Xylariales,320.0,240.0,77.321185,72.687839,70.582227,73.530417
1,2.jpg,Xylaria magnoliae,Xylariaceae,Ascomycota,Xylaria magnoliae,Xylaria magnoliae,Sordariomycetes,Xylaria,Xylariales,320.0,240.0,71.123307,64.609049,62.255977,65.996111
2,3.jpg,Xylaria hypoxylon,Xylariaceae,Ascomycota,Xylaria hypoxylon,Xylaria hypoxylon,Sordariomycetes,Xylaria,Xylariales,320.0,240.0,84.582305,70.401758,54.611263,69.865109
3,4.jpg,Xylaria hypoxylon,Xylariaceae,Ascomycota,Xylaria hypoxylon,Xylaria hypoxylon,Sordariomycetes,Xylaria,Xylariales,240.0,320.0,28.234687,27.118841,23.883490,26.412339
4,6.jpg,Xeromphalina campanella,Mycenaceae,Basidiomycota,Xeromphalina campanella,Xeromphalina campanella,Agaricomycetes,Xeromphalina,Agaricales,240.0,320.0,41.552617,35.021029,26.419349,34.330998

In [46]:
# Lets get top 10 species
top_10_species = df['species'].value_counts().head(10).index.tolist()
pprint(f"Top 10 species: {top_10_species}")

("Top 10 species: ['Pleurotus ostreatus', 'Trametes versicolor', 'Pluteus "
 "cervinus', 'Lepista nuda', 'Psilocybe zapotecorum', 'Psilocybe cyanescens', "
 "'Boletus edulis', 'Hypholoma fasciculare', 'Ganoderma applanatum', 'Galerina "
 "marginata']")

In [47]:
df_top_10_species = df[df['species'].isin(top_10_species)]
print(f"Top 10 species shape: {df_top_10_species.shape}")

Top 10 species shape: (13800, 15)

In [48]:
df_top_10_species["species"].value_counts()

species
Pleurotus ostreatus      1623
Trametes versicolor      1608
Pluteus cervinus         1470
Lepista nuda             1356
Psilocybe zapotecorum    1350
Psilocybe cyanescens     1310
Boletus edulis           1303
Hypholoma fasciculare    1293
Ganoderma applanatum     1281
Galerina marginata       1206
Name: count, dtype: int64

In [51]:
# Add 1400 other random species classified as "other specy"
df_other_species = df[~df['species'].isin(top_10_species)].sample(1400)
df_other_species["species"] = "other"

# Concatenate top 10 species with other species
df = pd.concat([df_top_10_species, df_other_species])

In [52]:
# New shape
print(f"New df shape: {df.shape}")

New df shape: (15200, 15)

In [53]:
# Save new df
df.to_csv("../../storage/datas/csv/clean/cleaned_dataset_with_features_top_10_species.csv", index=False)